__pycache__/cli.cpython-38.pyc
test.mp3
test.wav
__pycache__/voicetotext.cpython-38.pyc
__pycache__/texttovideo.cpython-38.pyc
test.mp4
__pycache__/progressbar.cpython-38.pyc
video.mp4
2_Chapter_1.mp3
2_Chapter_1.wav
testing.wav
progressbar/__pycache__/cli.cpython-38.pyc
progressbar/__pycache__/progressbar.cpython-38.pyc
dbg/TEMP_3.png
dbg/audio_chunks/chunk_10.wav
progressbar/audio.mp3
final_video.mp4
